*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    background-color: #000;
    color: white;
    align-items: center;
    padding: 0px 50px;
    font-size: larger;
}

nav ul{
    list-style: none;
    display: flex;
    margin-right: 50px;
    font-size: large;
    gap: 50px;
}
