.gall{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.para{
    line-height: 1.4;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anchor{
    text-decoration: none;
    color: black;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}