.list{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    gap: 12px;

}
.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big{
    font-size: 50px;
}

.btn{
    padding: 10px 45px;
    margin-top: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgb(8, 182, 250);
}

.btn:hover{
    background-color: blue;
}




