* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f1f3;
}
html {
  scroll-behavior: smooth;
  background-color: white;
}

.home {
  height: calc(100vh - 10vh);
  width: 100%;
}

.home-content {
  display: flex;
  justify-content: space-between;
}
.content h1 {
  font-size: 55px;
  margin-top: 300px;
}
.content p {
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  flex-wrap: wrap;
}
.content button {
  padding: 10px 30px;
  color: white;
  background-color: #9929fb;
  font-size: larger;
  font-weight: 600;
}
.content {
  width: 650px;
  margin-left: 100px;
  line-height: 1;
}
.image {
  height: 550px;
  width: fit-content;
}

.image {
  margin-right: 40px;
}

.mp {
  margin-right: 20px;
  border-radius: 20px;
}
.crd1 {
  display: flex;
}
.crd2 {
  display: flex;
}
.process {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 200px;
  align-items: center;
  line-height: 1.8;
  padding: 20px 40px;
}
.left h1 {
  font-size: 50px;
}
.up {
  height: 0vh;
  margin-top: 20vh;
}

.up h1 {
  color: #9929fb;
  font-size: 35px;
}
.up p {
  font-size: 22px;
  color: gray;
}

.bottom {
  display: flex;
  margin-top: 13vh;

  flex-wrap: wrap;
}
.portfolio {
  height: 100vh;
}

.contact {
  margin-top: 29vh;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.icons svg {
  height: 24px;
  width: 24px;
  margin-top: 100px;
  margin-left: 20px;
}
.con-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.con-right input{
    border:none;    
    height: 35px;
    border-bottom: 1px solid gray;
    font-size: large;

}
.con-right textarea{
    height: 200px;
    width: 500px;
    padding: 10px;
    font-size: large;
}
.con-right button{
    padding: 8px 20px;
    background-color: #9929fb;
    color: white;
    width: 100px;
    font-size: large;
}
.con-right button:hover{
    border-radius: 30px;
    transition: all 0.8s ease-out;
}
.con-right p{
    font-size: large;
}