.box {
  width: 27vw;
  height: 100%;
  padding: 10px;
  border: 1px solid #000;
  margin-left: 60px;
  margin-top: 2vh;
  padding: 5px;
}
.box img {
  width: 100%;
}
.box p{
    color: gray;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.box button{
    padding: 7px 30px;
    margin-left: 40px;
    font-size: large;

}
